
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/chosen.min.css">
        <link rel="stylesheet" href="/assets/css/ionicons.min.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
<footer class="footer pt-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-xs-12">
                <!--Single Footer-->
                
                <!--Single Footer-->
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="footer_menu_list d-flex justify-content-between">
                    <div class="single_footer widget">
                        <div class="single_footer_widget_inner">
                            <div class="footer_logo">
                                <a href="#"><img src="/assets/img/logo/logo_footer.png" alt=""></a>
                            </div>
                            <div class="footer_content">
                                
                                <p>Email: Contact@organicfood.com</p>
                            </div>
                            <div class="footer_social">
                                <h4>Theo Dõi OrganicFood</h4>
                                <div class="footer_social_icon">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-xs-12">
                <div class="footer_title">
                    <h2>Tham gia Bản tin của chúng tôi </h2>
                </div>
                <div class="footer_news_letter">
                    <p> Nhận cập nhật E-mail về cửa hàng mới nhất của chúng tôi và ưu đãi đặc biệt.</p>
                    <div class="newsletter_form">
                        <form action="#">
                            <input type="email" required placeholder="Your Email Address">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="copyright_text">
                        <p>Copyright 2020 . All Rights Reserved</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</footer>
