<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/bundle.css">
<link rel="stylesheet" href="assets/css/style.css">
<div class="shop_wrapper ptb-90" style="">
  <div class="container-fluid">
    <div class="row">
      <div class="shop_sidebar">
        <div class="search_filters_wrapper">
          <div class="size_clearfix widget  mb-30">
            <div class="widget_title">
              <h3>Đồ Uống Các Loại</h3>
            </div>
            <ul>
              <li>
                <input id="bia" type="checkbox" value="beer">
                <label for="facet_size">Bia</label>
              </li>

              <li>
                <input id="softdrink" type="checkbox" value="softdrink">
                <label for="facet_size_one">Nước Ngọt</label>
              </li>
              <li>
                <input id="water" type="checkbox" value="water">
                <label for="facet_size_two">Nước Suối,Nước Khoáng</label>
              </li>
              <li>
                <input id="otherdrink" type="checkbox" value="otherdrink">
                <label for="facet_size_two">Đồ Uống Khác</label>
              </li>
            </ul>
          </div>
          <div class="size_clearfix widget mb-30">
            <div class="widget_title">
              <h3>Sữa Các Loại</h3>
            </div>
            <ul>
              <li>
                <input id="milk" type="checkbox" value="milk">
                <label for="facet_size">Sữa Tươi</label>
              </li>

              <li>
                <input id="milkdac" type="checkbox" value="milkdac">
                <label for="facet_size_one">Sữa Đặc</label>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

