<div class="list-group">
  <a href="#" class="list-group-item main-color-bg">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
  </a>
  <a href="/admin/products" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Products <span class="badge"></span></a>
  <a href="/admin/users" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="badge"></span></a>
  <a href="/admin/orders" class="list-group-item"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Orders <span class="badge"></span></a>
</div>